name: My Workflow
on:
  push:
    branches:
      - main
    paths:
      - 'src/test/resources/dev-environment.json'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up JDK 23
        uses: actions/setup-java@v3
        with:
          java-version: '23'
          distribution: 'oracle'
      - name: Run tests
        run: mvn clean test

